<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>{{ appLiterals.category.categories }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <h5>{{ appLiterals.category.createCategory }}</h5>
      </div>
      <div class="row mb-5">
        <div class="col-md-8">
          <form #categoryForm="ngForm" (ngSubmit)="addCategory(categoryForm)" class="form-group">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="selectedCategory._id">
            <label for="name" class="required">Nombre</label>
            <input required type="text" name="name" #name [(ngModel)]="selectedCategory.name" class="form-control mb-3">
            <button [disabled]="!categoryForm.valid" class="btn btn-primary">{{ appLiterals.btnCreate }}</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row mb-3 mt-2">
            <div class="col-md-12">
              <h5>{{ appLiterals.category.registeredCategory }}</h5>
            </div>
          </div>
          <div class="col-md-12" style="text-align: center; padding-top: 15px;" *ngIf="loading">
            <app-spinner>
            </app-spinner>
          </div>
          <div class="col-md-12" style="text-align: center; padding-top: 15px;" *ngIf="emptyCategoryList">
            <label>{{ appLiterals.category.emptyCategoryList }}</label>
          </div>
          <div class="row align-items-center category-row" *ngFor="let category of categories | paginate: {itemsPerPage:50, currentPage: currentPage}">
            <div class="col-md-10">
              <h4>{{ category.name }}</h4>
            </div>
            <div class="col-md-1">
              <a routerLink="/categories/{{category._id}}" class="btn btn-primary">{{ appLiterals.btnEdit }}</a>
            </div>
            <div class="col-md-1">
              <button (click)="deleteCategory(category)" class="btn btn-danger">{{ appLiterals.btnDelete }}</button>
            </div>

          </div>
          <div class="row">
            <pagination-controls (pageChange)="currentPage = $event" autoHide="true" responsive="true" previousLabel="{{appLiterals.paginationTexts.previous}}"
              nextLabel="{{appLiterals.paginationTexts.next}}" screenReaderPaginationLabel="{{appLiterals.paginationTexts.pagination}}"
              screenReaderPageLabel="{{appLiterals.paginationTexts.page}}" screenReaderCurrentLabel="{{appLiterals.paginationTexts.currentPage}}"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
