<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Precio</h2>
    </div>
  </div>
  <form [formGroup]="priceForm" (ngSubmit)="save()" class="row price-form">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <h5>Actualizar precio</h5>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" formControlName="productLongName" class="form-control" />
          </div>
          <app-provider-selector [parentForm]="priceForm.get('provider')"></app-provider-selector>

          <div class="form-group">
            <input type="text" formControlName="purchasePrice" placeholder="Precio de Compra x Unidad" class="form-control" />
          </div>

          <div class="form-group">
            <input type="text" formControlName="salePrice" placeholder="Precio de Venta x Unidad" class="form-control" />
          </div>

          <div class="form-group">
            <input type="text" formControlName="productCode" class="form-control" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary mr-1">Grabar Producto</button>
            <button type="button" class="btn btn-primary" (click)="goBack()">Cancelar</button>
          </div>
        </div>

        <div class="col-md-6">
          <div *ngIf="initImg">
            <img [src]="'data:image/jpg;base64,'+initImg" [ngStyle]="{'width': '300px'}" />
          </div>
          <div *ngIf="!initImg">
            <img [src]="'data:image/jpg;base64,'+noImage" [ngStyle]="{'width': '300px'}" />
          </div>
        </div>

      </div>
    </div>
  </form>



</div>
