<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Estadísticas</h2>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Seleccione el rango de fechas"
             class="form-control"
             bsDaterangepicker [bsConfig]="{ rangeInputFormat: 'DD-MM-YYYY' }"
             [(ngModel)]="bsRangeValue"
             (bsValueChange)="changeDatePeriod($event)"/>
    </div>
  </div>
  <div class="row">
    <h3 style="padding-left: 20px" class="mt-3 mb-5">Mostrando datos de: {{firstDay | date: 'dd/MM/yyyy'}} al  {{secondDay | date: 'dd/MM/yyyy'}}</h3>
      <div class="col-md-12" style="text-align: center; padding-top: 15px;" *ngIf="loading">
        <app-spinner>
        </app-spinner>
      </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <h3>Compras:</h3>
          <h2>{{purchaseTotal | currency}}</h2>
        </div>
        <div class="col-md-3">
          <h3>Ventas:</h3>
          <h2>{{ salesTotal | currency}}</h2>
        </div>
        <div class="col-md-3">
          <h3>Ganancias:</h3>
          <h2 [ngStyle]="{'color': 'Chartreuse '}">{{ earningsTotal | currency}}</h2>
        </div>
      </div>
      <div class="row" *ngIf="dataSell">
          <div class="col-md-12">
          <app-chartgraph [chartLabels]="chartLabels" [dataSell]="dataSell"></app-chartgraph>
          </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <div class="col-md-12 mt-5">
          <h5>Ventas registradas</h5>
        </div>
      </div>
  
      <div class="row align-items-center stat-row" *ngFor="let sell of sells | paginate: {itemsPerPage:10, currentPage: currentPage}">
  
        <div class="col-md-1">
          <p>{{ sell.saleDate }}</p>
        </div>
  
        <div class="col-md-5">
          <div *ngFor="let product of sell.productsGroup">
              <h4><strong>{{ product.productForm.product.brand.name }}</strong> - {{ product.productForm.product.name }} ({{ product.productCode }})</h4>
              <p><strong>Precio Compra x U:</strong> {{ product.purchasePrice | currency }} <strong>Precio Venta x U:</strong> {{ product.salePrice | currency }}</p>
              <p><strong>Unidades vendidas:</strong> {{ product.units }} <strong>Total Venta Unidades:</strong> {{ product.priceForUnits | currency }}</p>
          </div>
        </div>
  
        <div class="col-md-2">
          <p><strong>Compras:</strong><br> {{ sell.purchasePriceTotal | currency }}</p>
        </div>
        <div class="col-md-2">
          <p><strong>Ventas:</strong><br> {{ sell.saleTotal | currency }}</p>
        </div>
        <div class="col-md-2">
            <p><strong>Ganancias:</strong><br> {{ sell.saleTotal  - sell.purchasePriceTotal | currency}}</p>
        </div>
      </div>
      <div class="row">
        <pagination-controls (pageChange)="currentPage = $event" autoHide="true" responsive="true" previousLabel="Previa" nextLabel="Próxima"
          screenReaderPaginationLabel="Paginación" screenReaderPageLabel="Página" screenReaderCurrentLabel="Estas en la página"></pagination-controls>
      </div>
    </div>
  </div>
  </div>
  