<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Categorías - Editar</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" *ngIf="category">
      <div class="row mb-3 mt-2">
        <h5>{{ category.name | uppercase}} Detalles</h5>
      </div>
      <div class="row mb-5">
        <div class="col-md-8">
          <div class="form-group">
            <input [(ngModel)]="category.name" type="text" class="form-control mb-3" />
            <button (click)="goBack()" class="mr-2 btn btn-primary">
              Volver
            </button>
            <button (click)="save()" class="btn btn-primary">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>