<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <h2>Productos</h2>
    </div>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="addNewProduct()" class="row product-form">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <h5>Crear Producto</h5>
      </div>
      <div class="row">
        <div class="col-md-6">
          <app-category-selector [parentForm]="productForm.get('category')"></app-category-selector>

          <app-brand-selector [parentForm]="productForm.get('brand')"></app-brand-selector>

          <div class="form-group">
            <label for="name" class="required">Nombre del producto</label>
            <input type="text" formControlName="name" class="form-control" />
            <div *ngIf="productForm.get('name').touched && productForm.get('name').invalid">
              <p *ngIf="!productForm.get('name').errors.valid">
                Debe escribir un nombre
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" formControlName="description" class="form-control"></textarea>
          </div>
          <app-upload-image [parentForm]="productForm.get('photo')" (valueChange)="displayProductImage($event)"></app-upload-image>

          <button [disabled]="!productForm.valid" class="btn btn-primary">Crear</button>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <div class="row mb-3 mt-2">
        <div class="col-md-12">
          <h5>Productos registrados</h5>
        </div>
      </div>
      <div class="col-md-12" style="text-align: center; padding-top: 15px;" *ngIf="loading">
        <app-spinner>
        </app-spinner>
      </div>
      <div class="col-md-12" style="text-align: center; padding-top: 15px;" *ngIf="emptyProductList">
        <label>{{ appLiterals.product.emptyProductList }}</label>
      </div>
      <div class="row align-items-center product-row" *ngFor="let product of products | paginate: {itemsPerPage:50, currentPage: currentPage}">
        <div class="col-md-1">
          <div *ngIf="product.fileImg">
            <img [src]="'data:image/jpg;base64,'+product.fileImg" class="img-fluid" />
          </div>
          <div *ngIf="!product.fileImg">
            <img [src]="'data:image/jpg;base64,'+noImage" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5">
          <h4>{{ product.name }}</h4>
        </div>
        <div class="col-md-2">
          <p><strong>Marca:</strong><br> {{ product.brand.name }}</p>

        </div>
        <div class="col-md-2">
          <p><strong>Categoría:</strong><br> {{ product.category.name }}</p>
        </div>
        <div class="col-md-1">
          <a routerLink="/product/{{product._id}}" class="btn btn-primary">Editar</a>
        </div>
        <div class="col-md-1">
          <button (click)="deleteProduct(product._id)" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
      <div class="row">
        <pagination-controls (pageChange)="currentPage = $event" autoHide="true" responsive="true" previousLabel="Previa" nextLabel="Próxima"
          screenReaderPaginationLabel="Paginación" screenReaderPageLabel="Página" screenReaderCurrentLabel="Estas en la página"></pagination-controls>
      </div>
    </div>
  </div>
</div>
